/* {
    box-sizing: border-box;
}*/

body {
    font-family: 'Roboto', Verdana, serif ;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-panel {
    display: flex;
    justify-content: space-between;
}

.hero-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
}


.info-heading {
    margin-bottom: 60px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 120px;
}

.img-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caption {
    width: 200px;
    font-size: 18px;
}

.header, .footer {
    background-color: #1f2937;
    padding: 0 120px;
}
.header {
    padding-bottom: 90px;
}

.header-logo {
    font-size: 24;
    color: #f9faf8;
    
}
.header-text, a {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
    width: 500px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 16px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    width: 200px;
    padding: 8px;
}

.info-heading {
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    padding: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-weight: 300;
    width: 400px;
}

.quote-attrib {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.interact {
    padding: 72px;
    display: flex;
    justify-content: center;
}

.interact-box {
    background-color: #3882f6;
    border-radius: 8px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 24px;
    align-items: center;
}

.interact-header {
    color: white;
    font-size: 24px;
}
.interact-text {
    color: white;
    font-size: 18px;
}

.int-text{
    text-align: left;
}

.copyright {
    color: white;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1f2937;
}

p {
    text-wrap: wrap;
}
